.logoheader {
  background-color: rgb(5, 68, 104);
  height: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.headercontent {
  padding-top: 10px;
  color: white;
  font-size: 40px;
  margin: auto;
  display: table;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.routeroutput {
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 40px;
}
